<?xml version='1.0'?>
<launch>

    <arg name="gui" default="true"/>

    <arg name = "model_xacro" default = "$(find hcic)/urdf/ranger_base.xacro" />
    <!-- <arg name = "model_xacro" default = "$(find ranger_desription)/urdf/ranger_desription.urdf" /> -->
    <!-- <arg name = "model_xacro" default = "$(find ranger_mini_v3)/urdf/ranger_mini.xacro" /> -->


    <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node pkg="joint_state_publisher_gui" name="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <!-- simulation environment -->
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find hcic)/world/turtlebot3_house.world"/>
        <arg name="debug" value="false" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(eval not arg('gui'))" />
    </include>

    <node pkg="gazebo_ros" name="urdf_spawner"  type="spawn_model" respawn="false" output="screen" args="-urdf -model robot -param robot_description"/>
    <!-- <include file="$(find ranger_mini_control)/launch/robot_control_v3.launch"/> -->
    <node pkg="rviz" name="rviz_simulation"  type="rviz" args="-d $(find hcic)/launch/sim.rviz" />

</launch>