<launch>
  <arg name="map_name" default="default" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="use_amcl" default="false" />
  <arg name="base_frame" default="base_link" />
  <arg name="odom_frame" default="odom" />
  <arg name="odom_topic" default="odom" />
  <arg name="map_frame" default="map" />

  <arg name="global_planner" default="global_planner/GlobalPlanner" /> 
  <arg name="local_planner"  default="teb_local_planner/TebLocalPlannerROS" />

  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="/opt/hkust/slam_ws/map/map_$(arg map_name)/record.bag_map.yaml">
    <param name="frame_id" value="$(arg map_frame)" />
  </node>

  <node pkg="move_base" type="move_base" name="move_base" output="screen" required="true">
    <param name="base_global_planner" value="$(arg global_planner)" />
    <param name="base_local_planner"  value="$(arg local_planner)" />
    <param name="global_frame_id" value="$(arg map_frame)" />
    <param name="odom_frame_id" value="$(arg odom_frame)" />
    <param name="base_frame_id" value="$(arg base_frame)" />

    <rosparam file="$(find nav)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav)/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/config/move_base/move_base_params.yaml" command="load" />
    <rosparam file="$(find nav)/config/move_base/teb_local_planner.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>
