<launch>
    <param name="use_sim_time" value="false" />
    <arg name="extend_map_state_file" default=""/>
    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename sick.lua
          $(arg extend_map_state_file)" output="screen" required="true">
        <remap from="points2" to="/cloud_all_fields_fullframe/filtered" />
        <remap from="odom" to="/odom" />
        <remap from="imu" to="/multiScan/imu"/>
    </node>
    <group unless="$(arg use_sim_time)">
        <node pkg="rosbag" type="record" name="rosbag_record_mapping" args="$(arg record_path)"/>
    </group>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" 
          args="-resolution 0.05" />
</launch>